<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home page</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">DIABETES PREDICTION</h2>
            </div>

            <!-- <div id="HOME"> #########333
            <div id="PREDICTION">
            <div id="UPLOAD"> -->

            <div class="menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="http://127.0.0.1:5000/hello">PREDICTION</a></li>
                    <li><a href="http://127.0.0.1:5000/up">UPLOAD</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a2 onclick="myfunction()"><button class="btn">Search</button></a2>
                <script>
                function myfunction(){
                  window.location.href="https://www.google.com/?hl=ar";
                }
                </script>
                <!-- <a href=""><ion-icon name="logo-google"></ion-icon></a> -->
            </div>

        </div>
        <div class="content">
            <h1>Let's analyze <br><span>Diabetes</span> <br>to be reassured</h1>
            <p class="par">Here we can predict whether you have diabetes or not by some data that you will enter.</p>


                <div class="form">
                    <h2>Login Here</h2>
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type="password" name="" placeholder="Enter Password Here">
                    <button class="btnn"><a href="#">Login</a></button>

                    <p class="link">Don't have an account<br>
                    <a href="https://accounts.google.com/signup/v2/webcreateaccount?service=accountsettings&continue=https%3A%2F%2Fmyaccount.google.com%2F%3Fhl%3Den%26utm_source%3DOGB%26utm_medium%3Dact%26pli%3D1&hl=en&dsh=S319499548%3A1653072726844070&biz=false&flowName=GlifWebSignIn&flowEntry=SignUp">Sign up </a> here</a></p>
                    <p class="liw">Log in with</p>

                    <div class="icons">
                        <a href="https://accounts.google.com/signin/v2/identifier?passive=1209600&continue=https%3A%2F%2Fpolicies.google.com%2Fprivacy%3Fgl%3DEG%26hl%3Dar&followup=https%3A%2F%2Fpolicies.google.com%2Fprivacy%3Fgl%3DEG%26hl%3Dar&hl=ar&ec=GAZAoQQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><ion-icon name="logo-google"></ion-icon></a>
                    </div>

                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

</body>
</html>